.buttons {
    width: 750px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
}

/* START CAT BUTTON */
.cat-btn {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b36c39;
}

.cat-btn:hover {
  background-color: #77a809;
}

.cat-btn:active {
  position: relative;
  top: 1px;
}
/* END CAT BUTTON */

/* START DOG BUTTON */
.dog-btn {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b36c39;
}

.dog-btn:hover {
  background-color: #77a809;
}

.dog-btn:active {
  position: relative;
  top: 1px;
}
/* END DOG BUTTON */

/* START DINO BUTTON */
.dino-btn {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b36c39;
}

.dino-btn:hover {
  background-color: #77a809;
}

.dino-btn:active {
  position: relative;
  top: 1px;
}
/* END DINO BUTTON */

/* START ALL BUTTON */
.all-btn {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b36c39;
}

.all-btn:hover {
  background-color: #77a809;
}

.all-btn:active {
  position: relative;
  top: 1px;
}
/* END ALL BUTTON */
