* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  width: 90%;
  margin: auto;
}

.header {
  margin: 25px 0px 25px 15px;
}

.pets {
  display: flex;
  flex-flow: wrap;
  margin: 1em;
  justify-content: space-evenly;
}

.pet {
  margin: 2em;
  text-align: center;
}

.pet-type {
  text-transform: uppercase;
}

img {
  width: 250px;
  height: 250px;
}

/* * {
    margin: 0;
    padding: 0;
}
body {
    background-color: #D7E0E7;
    color: #46433E;
}

.pets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pets img {
    width: 350px;
} */
/* orange: #B36B39
    light blue: #D7E0E7
    green: #807F3C
    blue: #96ABB0
    Brown: #46433E */
