* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D7E0E7;
  color: #46433E;
  width: 85%;
  margin: auto;
}

.header {
  margin: 25px 0px 25px 15px;
}

.pets {
  display: flex;
  flex-flow: wrap;
  margin: 1em;
  justify-content: space-evenly;
}

.pet {
  margin: 2em;
  text-align: center;
  border: 2px solid #46433E;
  padding: 5px 35px;
}

.pet-name {
  margin: 5px 0px 10px 0px;
}

.pet-image {
  background-color: rgb(250, 250, 250);
  padding: 5px;
  border: 1px solid #46433E;
}

img {
  width: 225px;
  height: 225px;
}

.pet-type {
  text-transform: uppercase;
}

/* * {
    margin: 0;
    padding: 0;
}
body {
    background-color: #D7E0E7;
    color: #46433E;
}

.pets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pets img {
    width: 350px;
} */
/* orange: #B36B39
    light blue: #D7E0E7
    green: #807F3C
    blue: #96ABB0
    Brown: #46433E */
